{% extends "base.html" %}

{% block content %}
<h2>{{ fdata.caption }}</h2>
<form method="get">

    <div class="container">
        <div class="row">
            <div class="col-1 text-center">
                <label for="date" class="col-1 col-form-label">Дата:</label>
            </div>
            <div class="col-2">
                <input type="text" class="col-3 form-control" name="date" placeholder="DD/MM/YYYY"
                       value="{{fdata.date}}"
                       value="{{ fdata.date }}" maxlength="10" required id="date">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">{{fdata.key_title}}</button>
            </div>
        </div>
    </div>
</form>

{% for bl_data in fdata.busy_list %}
<div class="col-12 text-center">
    <h2>{{bl_data.title}}</h2>
</div>
<div class="col-12">
    <div class="row">
        {% for dt in bl_data.data %}
        {% if dt.edit_enable %}
        <!-- Модальное окно с запросом удаления бронирования -->
        <div class="modal fade" id="staticBackdrop{{dt.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Подтвердите удаление бронирования</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        Помещение: {{ dt.roomname }}<br>
                        Дата: {{ dt.date }}<br>
                        Время: {{ dt.beg }} - {{ dt.end }}<br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <a href="/book_delete/?id={{dt.id}}" class="btn btn-primary">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col" style="max-width: 25rem;">
            <div class="card card-body border-primary">
                <p class="card-text">Время начала: {{ dt.beg }}<br>
                    Время завершения: {{ dt.end }}<br>
                    Бронирование: {{ dt.status }}</p>
                {% if dt.edit_enable %}
                <div class="card-body">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop{{dt.id}}">
                        Удалить
                    </button>
                    <a href="/book_edit/?id={{dt.id}}" class="btn btn-primary">Изменить</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}


{% endblock %}