{% extends "base.html" %}

{% block content %}
<h2>Список помещений для бронирования</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for i in rooms %}

    <!-- Модальное окно с запросом удаления помещения -->
    <div class="modal fade" id="staticBackdrop{{i.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Подтвердите удаление помещения</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    Помещение: {{ i.name }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <a href="/room_delete/?id={{i.id}}" class="btn btn-primary">Удалить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col" style="max-width: 25rem;">
        <div class="card card-body border-primary">
            <h5 class="card-header">{{ i.name }}</h5>
            <h5 class="card-title"></h5>
            <h6 class="card-title">Стоимость в час (руб.): {{ i.cost }}</h6>
            <p class="card-text">Вместимость аудитории: {{ i.people_count }} человек.</p>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop{{i.id}}">
                    Удалить
                </button>
                <a href="/room_edit/?id={{i.id}}" class="btn btn-primary">Изменить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}